body {
    font-family: 'Minecraft-2';
	background-image: url("https://media.discordapp.net/attachments/691756935078215702/719433407339429939/2020-06-08_00.03.43.png");
	background-repeat: repeat-x repeat-y;
	background-attachment: fixed;
    background-size: 100%;
}
img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100.75vw;
  margin-left: -2vw;
  margin-top: -2vw;
height: auto;
}
h1 {
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,2.10);
    font-family: 'Minecraft 2';
    font-size: 3em; 
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease;
}
h2 {
    color: red;
    text-shadow: 1px 1px 10px rgba(0,0,0,2.10);
    font-family: 'Minecraft 2';
    font-size: 3em; 
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease;
}
#divmainhead{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/dc/3b/d0/dc3bd09dcb6dca6228fc2d350f861de3.jpg");
  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
  background-size: 50%;
  font-family: 'Minecraft 2';
  border: 1px solid white;
  margin-left: 0px;
  margin-right: 70px;
}

#divone{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/dc/3b/d0/dc3bd09dcb6dca6228fc2d350f861de3.jpg");
  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
  background-size: 25%;
  font-family: 'Minecraft 2';
  border: 2px double white;
  margin-left: 0px;
  margin-right: 70px;
}
p {
    color: ghostwhite;
    text-shadow: 1px 1px 10px rgba(0,0,0,2.10);
    font-family: "Minecraft 2";
}

#divtwo{
  background-image: url("https://i.pinimg.com/474x/04/c5/9f/04c59f3e8a09ec5afca644fb8deeaef0.jpg");
  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
  background-size: 3%;
  font-family: 'Minecraft 2';
  border: 2px solid white;
  margin-left: 0px;
  margin-right: 70px;
}
h1:hover { font-size: 4em; color: white; }

h2:hover { font-size: 4em; color: red; }
#divthree{
  background-image: url("https://art.pixilart.com/7e963233f25f494.png");
  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
  background-size: 2%;
  font-family: 'Minecraft 2';
  border: 2px solid red;
  margin-left: 0px;
  margin-right: 70px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 
{background-color: #696969;
border: 1px solid black;
}
.button1:hover {
border: 1px solid yellow;	
}
