body {
    background-image: url("https://media.discordapp.net/attachments/691756935078215702/719433407339429939/2020-06-08_00.03.43.png");
    background-attachment: fixed;
    background-size: 130%;
    
}
img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100.75vw;
  margin-left: -2vw;
  margin-top: -2vw;
height: auto;
}
h1 {
    color: white;
    text-shadow: 3px 3px 30px rgba(0,0,0,2.10);
    font-size: 3em; 
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease;
    border-top: solid #b9b9bb;
    border-left: solid #b9b9bb;
    border-bottom: solid #505052;
    border-right: solid #505052;
    font-family: "Press Start 2P", cursive;
}
h2 {
    color: red;
    text-shadow: 1px 1px 10px rgba(0,0,0,2.10);
    font-size: 3em; 
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease;
}
#divmainhead{
  background-attachment: fixed;
  margin-left: 0px;
  margin-right: 70px;
  min-width: 400px;
  max-width: 600px;
  height: 100%;
  grid-column: 2 / 3;
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-rows: 1fr 0.25fr 1fr 0.125fr;
}


}

#divone{
  background-attachment: fixed;
  background-size: 25%;
  margin-left: 0px;
  margin-right: 70px;
}
p {
    color: ghostwhite;
    text-shadow: 1px 1px 10px rgba(0,0,0,2.10);
}

#divtwo{
  background-attachment: fixed;
  margin-left: 0px;
  margin-right: 70px;
}
h1:hover { font-size: 4em; color: white; }

h2:hover { font-size: 4em; color: red; }
#divthree{
  background-attachment: fixed;
  margin-left: 0px;
  margin-right: 70px;
}
.button {
  border: none;
  color: white;
  transition-duration: 0.4s;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 46px;
  margin: -20px 60px;
  cursor: pointer;
  border-top: solid #b9b9bb;
  border-left: solid #b9b9bb;
  border-bottom: solid #505052;
  border-right: solid #505052;
  font-family: "Press Start 2P", cursive;
}

.button1 
{background-color: #696969;
border: 3px solid black;
}
.button1:hover {
border: 2px solid yellow;
background-color: #808080;
}
